scoundrels-quest.com, http://localhost, :5173 {
    root * /srv/frontend
    file_server
    try_files {path} /index.html
}

api.scoundrels-quest.com, http://api.localhost {
  root * /var/www/public
  file_server
 
  encode gzip zstd

  php_fastcgi php:9000
  file_server
}
